#headerBoundary {
    box-shadow: none;
    background-color:white;
    /* border-bottom: solid 1px var(--main-primary-color); */
    box-shadow: 0 0 5px 0px #ccc;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* #headerContent{
    
} */
#logoCon{
    position: relative;
    height: 100%;
    width:100px;
    left:0;
    
}
#logoCon img{
    margin-top: 4px;
    width: 80%;
    height: 80%;
}
.hdr{
    height:46px;
    margin-bottom: 23px;
}
.hdr h2{
    width:auto;
    height:100%;
    padding-left:46px;
    line-height: 46px;
}


/* horizontal custom menu */
.vNav.h-menu > li > a {
    font-size: 13px;
}
.vNav.h-menu li ul li a {
    font-size: 12px!important;
}
.vNav.h-menu li ul li {
    font-size: 12px;
}
.vNav.h-menu li.has-sub > ul {
    border: solid 1px var(--main-primary-color);
}

.vNav.h-menu li ul li ul{ 
    border: solid 1px var(--main-primary-color);
    background-color: #dde4ec;
}

.vNav.h-menu li ul li{
    height: 35px;
}

.vNav.h-menu li ul li ul li a{ 
	/* font-size: inherit; */
}
.vNav.h-menu li ul li a:hover{ /* Level 2 links styles*/
	color: #ABB51B;
}

.vNav.h-menu > li::before{
    background-color: #ABB51B;
}
.vNav.h-menu > li > a:hover{
    color:#ABB51B;
}

.vNav.h-menu .activeSelection{/* For active selection state*/
    color:#ABB51B;
}
.vNav.h-menu .activeMenu{ /* For main menu active state*/
    color:#ABB51B;
}

/* Mobile menu */
#mobile-button-con{
    width: 46px;
    height: 100%;
}

#mobile-button-con button{
    width: 35px;
    height: 35px;
    border: none;
    margin-top: 6px;
    background-color: transparent;
    position: relative;
    margin-left: 5px;
}

#mobile-button-con button::before{
    font-family: vicon;
    text-align: center;
    line-height: 35px;
    color: var(--main-primary-color);
    position: absolute;
    content: "\e900";
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 28px;
    cursor: pointer;
}

#mobile-button-con button:hover::before{
    color:#0540758a;
}
#mobile-button-con button:active::before{
    color:black;
    content: "\e901";
}

@media screen and (max-width:442px){
    #searchBox{
        padding-left: 23px;
        padding-right: 23px;
    }
}



