*{
  margin: 0;
  padding: 0;
}
html{
  font-size:16px;
  line-height:1.44; /*That is 23px*/
  /*Font scale = 1.6181  */

}

html, body{
  width:100%;
  height:100%;
  min-height:100vh;
}
body{
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  overflow-x:hidden;
}
h1{
  font-size:42px;
}
h2{
  font-size:26px;
}
h3{
  font-size:16px;
}
#page{
  min-height:100%;
  height: auto;
  width:100%;
  min-width: 320px;
}
#headerBoundar, #footerBoundary{
  width:100%;
  height:auto;
  Background-color:white;
}
#headerBoundary{
  box-shadow: 0 4px 5px 2px #0000004d;
}
#contentBoundary{
  height:CALC(100vh - (46px + 23px)); /*Header height and footer height*/
  Background-color:transparent;
  margin-top: -1px;
  padding-top: 1px;
}
#headerBoundary #headerContent, #contentBoundary #contentCon, #footerBoundary #footerContent{
  width:96%;
  position: relative;
}
#headerBoundary #headerContent{
  height:46px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}
#headerContent h1{
  margin-top:0;
  font-family: gnuolane;
  font-weight:bold;
  color: #639ee1;
  margin-bottom: 0;
}
#mobile-menu{
  display: none;
}
#contentBoundary #contentCon{
  height:auto;
  margin:0 auto;
  min-height:100%;
  margin-top: -1px;
  padding-top: 1px;
}
#footerBoundary{
  min-height:23px;
  height:auto;
  Background-color:white;
  box-shadow: 0 -4px 5px 0px #0000001a;
}
#footerBoundary #footerContent{
  height:23px;
  margin:0 auto;
  text-align: center;
  font-size: 13px;
}
#mobile-menu{
  display: none;
}

/* mobile Nav */
@media screen and (max-width:650px){
  #h-nav{
    display: none;
  }
  #mobile-menu{
      display: block;
  }
}