/* CSS Document */
/**************Font definations***************/
html{
	font-synthesis: none;
}
/*H1*/
@font-face{
	font-family:"gnuolane";
	src: url('/assets/fonts/gnuolane-rg.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

/* @font-face{
	font-family:"kk";
	src:url(/assets/fonts/OpenSans-Italic.ttf);
	font-weight: 100;
	font-style: normal;
} */

/*H2-H6*/
@font-face{
	font-family:"gnuolane";
	src: url('/assets/fonts/gnuolane-rg.ttf') format('truetype');
	font-weight:normal;
	font-style: normal;
}

/*body and tags*/
@font-face{
	font-family:"proximaNova";
	src: url("/assets/fonts/Proxima-Nova-Font.otf");
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family:"proximaNova";
	src:url(/assets/fonts/Proxima-Nova-Font.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family:"proximaNova";
	src:url(/assets/fonts/Proxima-Nova-Font.otf);
	font-style: normal;
	font-weight: 300;
}
@font-face{
	font-family:"proximaNova";
	src:url(/assets/fonts/Proxima-Nova-Font.otf);
	font-style: normal;
	font-weight: bold;
}
/**************Font definations***************/
