@keyframes vspin{
    from{
        transform: rotate(0deg) translateY(-50%) translateX(-50%);
        transform-origin: 0 0;
    }
    to{
        transform: rotate(360deg) translateY(-50%) translateX(-50%);
        transform-origin: 0 0;
    }
}
.loaderCon{
    top:0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color:transparent;
}
.runTime{
    opacity: 0;
    width:100%;
    height: 100%;
}
.runTime.xShow{
    transition: opacity .2s linear;
    opacity: 1!important;
}
.loaderCon #xSpin{
    width:50px;
    height:50px;
    position: absolute;
    animation-name: vspin;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform-origin:0 0;
    background-color:transparent;
}
.loaderCon #xSpin::before{
    width:100%;
    height:100%;
    content:'';
    position: absolute;
    text-align: center;
    line-height: 50px;
    color:purple;
    background-color: transparent;
}